<!-- <div> -->
<div class="col-md-4">
  <a routerLink={{routerUrl}}>
    <div class="card {{tilecolor}}">
      <!-- <i class="fa fa-bell facolor" aria-hidden="true"></i> -->
      <div class="container">
        <h3>{{title}}</h3>
        <hr/>
        <h1>{{count}}</h1>
        <!-- <br> -->
        <hr/>
        <p>{{description}}</p>
      </div>
    </div>
  </a>
</div>
<h2>{{tile}}</h2>

<!-- </div> -->

<!-- <div class="col-md-3"> -->
  <!-- <a class="info-tiles {{tilecolor}} has-footer" routerLink="{{routerUrl}}"> -->
    <!-- <div class="tiles-heading"> -->
      <!-- <div class="pull-left">{{title}}</div> -->
      <!-- <div class="pull-right">
        <div id="{{id}}" class="sparkline-block"><canvas class="canvas"></canvas></div>
      </div> -->
    <!-- </div> -->
    <!-- <div class="tiles-body"> -->
      <!-- <div class="text-center">{{count}}</div> -->
    <!-- </div> -->
    <!-- <div class="tiles-footer"> -->
      <!-- <div class="pull-left">{{description}}</div> -->
      <!-- <div class="pull-right percent-change">Click here</div> -->
    <!-- </div> -->
  <!-- </a> -->
<!-- </div> -->


<!-- <div class="col-md-3">
  <a class="info-tiles {{tilecolor}} has-footer" routerLink="{{routerUrl}}">
    <div class="tiles-heading">
      <div class="pull-left">{{title}}</div>
      <div class="pull-right">
        <div id="{{id}}" class="sparkline-block"><canvas class="canvas"></canvas></div>
      </div>
    </div>
    <div class="tiles-body">
      <div class="text-center">{{count}}</div>
    </div>
    <div class="tiles-footer">
      <div class="pull-left">{{description}}</div>
      <div class="pull-right percent-change">Click here</div>
    </div>
  </a>
</div> -->