<div class="container">
    <h2 class="panel-title">Pensioner Details</h2>
    <alert></alert>
    <div class="card">
        <div class="card-body spinner" *ngIf="isLoadingPage">
            <mat-spinner></mat-spinner>
        </div>
        <div class="card-body" *ngIf="!isLoadingPage">
            <div class="row">
                <div class="col-md-4 left-panel">
                    <label>Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="name" class="form-control form-control-sm" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 left-panel">
                    <label>NIC No</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="name" class="form-control form-control-sm" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 left-panel">
                    <label>Pension No</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="name" class="form-control form-control-sm" readonly />
                </div>
            </div>
            <!-- old bank details -->
            <!-- <div class="row">
                <div class="col-md-4 left-panel">
                    <label>Current Bank Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="name" class="form-control" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 left-panel">
                    <label>Current Branch Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="name" class="form-control" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 left-panel">
                    <label for="accNo">Current Account No</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="accNo" class="form-control" id="accNo" readonly />
                </div>
            </div> -->
            <!-- new bank details -->
            <div class="row" *ngIf="addedAccount">
                <div class="col-md-4 left-panel">
                    <label>New Bank Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="name" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="row" *ngIf="addedAccount">
                <div class="col-md-4 left-panel">
                    <label>New Branch Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="name" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="row" *ngIf="addedAccount">
                <div class="col-md-4 left-panel">
                    <label for="accNo">New Account No</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="accNo" class="form-control form-control-sm" id="accNo" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-sm btn-block" (click)="addNewAccDetails()">
                        Add New Account Details</button>
                </div>
                <!-- <div class="col-md-3">
                    <button type="button" (click)="saveAccount()" class="btn btn-primary btn-sm btn-block"
                        [disabled]="!addedAccount">Submit Details</button>
                </div> -->
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<!-- <div class="modal fade" id="newAccDetailsModel">
    <div class="modal-dialog">
        <div class="modal-content"> -->

            <!-- Modal Header -->
            <!-- <div class="modal-header">
                <h5 class="modal-title">New Account Details</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div> -->

            <!-- Modal body -->
            <!-- <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>Bank Name</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="name" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Branch Name</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="name" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Account No</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="name" class="form-control" />
                    </div>
                </div>
            </div> -->

            <!-- Modal footer -->
            <!-- <div class="modal-footer">
                <button type="button" (click)="addNewAccount()" class="btn btn-primary btn-sm btnSize"
                    data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-danger btn-sm btnSize" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div> -->