<div class="container">
    <h2 class="panel-title">Pensioner Bank Account Details</h2>
    <alert></alert>
    <div class="card">
        <div class="card-body spinner" *ngIf="isLoadingPage">
            <mat-spinner></mat-spinner>
        </div>
        <div class="card-body" *ngIf="!isLoadingPage">
            <div class="row">
                <div class="col-md-4 left-panel">
                    <label>Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="name" class="form-control form-control-sm" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 left-panel">
                    <label>NIC No</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="name" class="form-control form-control-sm" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 left-panel">
                    <label>Pension No</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="name" class="form-control form-control-sm" readonly />
                </div>
            </div>
            <!-- new bank details -->
            <div class="row">
                <div class="col-md-4 left-panel">
                    <label>New Bank Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="name" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 left-panel">
                    <label>New Branch Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="name" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 left-panel">
                    <label for="accNo">New Account No</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="accNo" class="form-control form-control-sm" id="accNo" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <!-- <div class="col-md-3">
                    <button type="button" class="btn btn-primary btn-sm btn-block" (click)="updatecDetails()">
                        Update</button>
                </div> -->
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary btn-sm btn-block" (click)="back()">
                        Back</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary btn-sm btn-block" (click)="updatecDetails()">
                        Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

