.card{
    /* text-align: center; */
    /* align-items: center; */
    width: 40%;
    margin: 5% auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.left-nav{
    background-color: rgb(70, 70, 70);
    font-size: 15pt;
    color: white !important;
    height: 100%;
}

.main-content{
    height: 100%;
}

.left-nav .nav-item :hover{
    background-color: rgb(76, 71, 71);
    color: white;
}