<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Account Change</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="row main-content">
    <div class="col-md-2 left-nav">
        <ul class="nav flex-column">
            <li class="nav-item">
                <i class="fas fa-angle-double-right"></i>
                <a class="nav-link active" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Search Pensioner</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Report</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10 right-nav">
        <h2>Router Outlet</h2>
        <router-outlet></router-outlet>
    </div>
</div>