<div class="container">
    <h2 class="panel-title">Search Pensioner</h2>
    <div class="card">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="inputNic">NIC No :</label>
                            <input type="text" class="form-control" id="inputNic" placeholder="Enter NIC Number">
                            <small id="nicHelp" class="form-text text-muted">Eg : xxxxxxxxxxV OR xxxxxxxxxxxx</small>
                        </div>
                        <div class="form-group">
                            <label for="inputPenNo">Pension No :</label>
                            <input type="text" class="form-control" id="inputPenNo" placeholder="Enter Pension Number">
                        </div>
                        <br>
                        <button type="button" (click)="searchPensioner()"
                            class="btn btn-primary btn-sm btn-block">Search</button>
                    </form>
                    <br>
                </div>
            </div>
        </div>

    </div>
</div>