<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <h2 class="panel-title">Dashboard</h2>
  <div class="row">
    <div class="col-md-12">
      <app-location-navigation class="tile-inline"
          *ngFor="let tile of dashboardTiles"
          [routerUrl]="tile.pathTo"
          [title]="tile.name"
          [status]="tile.reason"
          [count]="tile.count"
          [tilecolor]="tile.tileColor"
          [id]="tile.id"
          [description]="tile.description"
        ></app-location-navigation>
    </div>
  </div>
</div>