<div class="navigation">
  <div class="row navigation-item" disabled>
    <span>Main Navigation</span>
  </div>
    <div *ngFor="let menuItem of menuItems" class="navigation-item" [routerLink]="menuItem.pathTo">
      <i class="fa fa-bank"></i> {{menuItem.name}}
    </div>
    <!-- <div  class="navigation-item" routerLink="/dashboard">
      <i class="fa fa-bank"></i> Dashboard
    </div>
    <div  class="navigation-item" routerLink="/search-pensioner">
      <i class="fa fa-bank"></i> Search Pensioner
    </div> -->
</div>