<div class="modal-dialog text-center">
    <div class="col-sm-9 main-section">
        <div class="modal-content">

            <div class="col-12 user-img">
                <img src="/src/assets/image/face.png">
                <h2>Test</h2>
            </div>

            <div class="col-12 form-input">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Enter Password">
                    </div>
                    <button type="submit" (click)="login()" class="btn btn-success">Login</button>
                </form>
            </div>

            <div class="col-12 forgot">
                <a href="#">Forgot Password?</a>
            </div>

        </div>
    </div>
</div>