<div class="row">
  <app-header *ngIf="isLogged"></app-header>
</div>
<div *ngIf="isLogged" class="row content">
    <div class="col-lg-2 col-padding-0">
      <app-navigation></app-navigation>
    </div>
    <div class="col-lg-10 col-padding-0 main-view-background" >
      <div class="main-view" style="overflow-x: hidden">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
<div *ngIf="!isLogged">
  <app-login></app-login>
</div>