.col-padding-0{
    padding: 0;
}
.main-view{
    margin-top: 0px;
    height:calc( 100vh - 50px);
    width: calc(100% - 10px);
    overflow: scroll;
}
.main-view-background{
    background: #ecf0f5;
    padding: 0;
}
.content{
    width: auto;
}
.row {
    margin: 0px;
}
app-header{
    width: 100%;
}