<div class="row header">
    <div class="col-lg-4">
        <div routerLink="/dashboard" class="title">
            <strong>Bank Account Management System </strong> <span style="font-size: medium;">1.0.0v</span>
        </div>
    </div>
    
    <div class="col-lg-8">
        <div class="username" (click)="logOut()">
            <span>WELCOME User</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-user-o" aria-hidden="true" (click)="logOut()"></i>
            <span (click)="logOut()">
                Logout
            </span>
        </div>
    </div>
</div>