<div class="container">
    <h2 class="panel-title">Pending Account Details</h2>
    <div class="card">
        <!-- <div class="card-body spinner" *ngIf="isLoadingPage">
            <mat-spinner></mat-spinner>
        </div> -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 left-panel">
                            <label>NIC No</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="accNo" class="form-control form-control-sm" id="accNo" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 left-panel">
                            <label>Pension No</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="accNo" class="form-control form-control-sm" id="accNo" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 left-panel">
                            <label for="status">Status</label>
                        </div>
                        <div class="col-md-6">
                            <select name="status" class="form-control form-control-sm" id="status">
                                <option *ngFor="let state of status" [value]="state.id">{{state.option}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 left-panel"></div>
                        <div class="col-md-6">
                            <button (click)="serachPensioner()" class="btn btn-primary btn-sm btn-block">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="card-body spinner" *ngIf="isLoadingPage">
        <mat-spinner></mat-spinner>
    </div>
    <div class="card" *ngIf="!isLoadingPage">
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="no-field">#</th>
                        <th scope="col " class="name-field">Name</th>
                        <th scope="col" class="nic-field">NIC No</th>
                        <th scope="col" class="penno-field">Pension No</th>
                        <th scope="col" class="bank-field">Bank</th>
                        <th scope="col" class="branch-field">Branch</th>
                        <th scope="col" class="option-field">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pensioner of pensioners; let i = index;">
                        <th scope="row">{{i+1}}</th>
                        <td>{{pensioner.name}}</td>
                        <td>{{pensioner.nic}}</td>
                        <td>{{pensioner.penno}}</td>
                        <td>{{pensioner.bank.name}}</td>
                        <td>{{pensioner.branch.name}}</td>
                        <td align="center">
                            <button (click)="viewPensioner(i,pensioner.nic)" class="btn btn-info btn-sm option-btn">View</button>
                            <button (click)="editPensioner()" class="btn btn-info btn-sm option-btn">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>