.panel-title{
    color: #3c8dbd;
    font-size: 23px;
    /* font-family: fantasy; */
    margin-left: 5px;
    margin-top: 30px;
}
.left-panel{
    padding-left: 50px;
}
.row{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btnSize{
    width: 100px;
}
.spinner{
    text-align: center;
    margin-top: 50px;
}
mat-spinner{
    display: inline-block;
}
.no-field{
    width: 2%;
}
.name-field{
    width: 30%;
    /* text-align: center; */
}
.nic-field{
    width: 12%;
}
.penno-field{
    width: 10%;
}
.bank-field{
    width: 15%;
}
.branch-field{
    width: 12%;
}
.option-field{
    /* width: 40%; */
    text-align: center;
}
/* .td-btn{
    display: block;
    margin: auto;
} */
.option-btn{
    /* display: block; */
    /* margin: auto; */
    margin: 2px;
    width: 5em;
    border-radius: 15px;
}