<div class="container">
    <h2 class="panel-title">Add New Account Details</h2>
    <div class="card">
        <!-- <div class="card-body spinner" *ngIf="isLoadingPage">
            <mat-spinner></mat-spinner>
        </div> -->
        <div class="card-body">



            <div class="row">
                <div class="col-md-4 left-panel">
                    <label>New Bank Name</label>
                </div>
                <div class="col-md-6">
                    <select name="banks" class="form-control form-control-sm">
                        <option selected>Custom Select Menu</option>
                        <option *ngFor="let bank of banks" [value]="bank.bankNo">{{bank.bankName}}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 left-panel">
                    <label>New Branch Name</label>
                </div>
                <div class="col-md-6">
                    <select name="branch" class="form-control form-control-sm">
                        <option selected>Custom Select Menu</option>
                        <option *ngFor="let branch of branches" [value]="branch.id">{{branch.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 left-panel">
                    <label for="accNo">New Account No</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="accNo" class="form-control form-control-sm" id="accNo" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-sm btn-block" (click)="saveAccDetails()">
                        Save Account Details</button>

                </div>
            </div>
        </div>
    </div>
</div>