.panel-title{
    color: #3c8dbd;
    font-size: 23px;
    /* font-family: fantasy; */
    margin-left: 5px;
    margin-top: 30px;
}

.left-panel{
    padding-left: 100px;
}

.row{
    margin-top: 20px;
}

.modal-title{
    color: #3c8dbd;
    font-size: 23px;
}

.btnSize{
    width: 100px;
}
.spinner{
    text-align: center;
    margin-top: 150px;
}
mat-spinner{
    display: inline-block;
}